big,blockquote,body,button,caption,center,code,h1, header, iframe, img,li,nav,object,p, u,ul, var {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent
}