
        [data-mesh-id=comp-k238y4rqinlineContent-gridContainer]>[id="comp-k0med55z"] {
            position: relative;
            margin: 72px 0px 10px calc((100% - 980px) * 0.5);
            left: 39px;
            grid-area: 1 / 1 / 6 / 2;
            justify-self: start;
            align-self: start
        }
        [data-mesh-id=comp-k238y4rqinlineContent-gridContainer]>[id="comp-k0med55p"] {
            position: relative;
            margin: 0px 0px 42px calc((100% - 980px) * 0.5);
            left: 454px;
            grid-area: 3 / 1 / 4 / 2;
            justify-self: start;
            align-self: start
        }
        [data-mesh-id=comp-k0med55zinlineContent-gridContainer] {
            position: static;
            display: grid;
            height: auto;
            width: 100%;
            min-height: auto;
            grid-template-rows: min-content min-content min-content min-content 1fr;
            grid-template-columns: 100%
        }
        [data-mesh-id=comp-k0med55zinlineContent-gridContainer]>[id="comp-k28qs1lv"] {
            position: relative;
            margin: 43px 0px 34px 0;
            left: 81px;
            grid-area: 1 / 1 / 2 / 2;
            justify-self: start;
            align-self: start
        }
        [data-mesh-id=comp-k0med55zinlineContent-gridContainer]>[id="comp-k0med568"] {
            position: relative;
            margin: 0px 0px 25px 0;
            left: 98px;
            grid-area: 2 / 1 / 3 / 2;
            justify-self: start;
            align-self: start
        }
        [data-mesh-id=comp-k0med55zinlineContent-gridContainer]>[id="comp-k0med56b"] {
            position: relative;
            margin: 10px 0px 30px 0;
            left: 98px;
            grid-area: 3 / 1 / 4 / 2;
            justify-self: start;
            align-self: start
        }
        
        [data-mesh-id=comp-k0med55zinlineContent-gridContainer]>[id="comp-k0med56k"] {
            position: relative;
            margin: 0px 0px 51px 0;
            left: 49px;
            grid-area: 4 / 1 / 5 / 2;
            justify-self: start;
            align-self: start
        }

        [data-mesh-id=comp-k0med55zinlineContent-gridContainer]>[id="comp-k0med56n"] {
            position: relative;
            margin: 0px 0px 0px 0;
            left: 0px;
            grid-area: 5 / 1 / 6 / 2;
            justify-self: start;
            align-self: start
        }
        
        [data-mesh-id=comp-k0med56ninlineContent-gridContainer]>[id="comp-k0med56p"] {
            position: relative;
            margin: 14px 0px 14px 0;
            left: 142px;
            grid-area: 1 / 1 / 2 / 2;
            justify-self: start;
            align-self: start
        }
        [data-mesh-id=Containerklk7ainlineContent-gridContainer] {
            position: static;
            display: grid;
            height: auto;
            width: 100%;
            min-height: 673px;
            margin-top: -123px;
            grid-template-rows: 1fr;
            grid-template-columns: 100%;
            padding-bottom: 0px;
            box-sizing: border-box
        }
        

        [data-mesh-id=Containerklk7ainlineContent-gridContainer]>[id="comp-k238y4od"] {
            position: relative;
            margin: 217px 0px 0 calc((100% - 980px) * 0.5);
            left: 0px;
            grid-area: 1 / 1 / 2 / 2;
            justify-self: start;
            align-self: start
        }
        #comp-k0med54x {
            left: 0;
            margin-left: 0;
            width: 100%;
            min-width: 980px;
        }
        #comp-k0med55d {
            width: 100%;
            --bg-overlay-color: rgb(207, 199, 242);
            --fill-layer-background-media-position: absolute;
            --fill-layer-background-media-pointer-events: auto;
            --fill-layer-background-overlay-position: absolute;
            --column-width: 393px;
            --column-flex: 393
        }
        #comp-k0med55g {
            width: 100%;
            --bg-overlay-color: rgb(207, 199, 242);
            --fill-layer-background-media-position: absolute;
            --fill-layer-background-media-pointer-events: auto;
            --fill-layer-background-overlay-position: absolute;
            --column-width: 587px;
            --column-flex: 587
        }
        #comp-k238y4rq {
            width: 100%;
            --bg-overlay-color: transparent;
            --fill-layer-background-media-position: absolute;
            --fill-layer-background-media-pointer-events: auto;
            --fill-layer-background-overlay-position: absolute;
            --column-width: 980px;
            --column-flex: 980
        }
        
        #comp-k0med55z {
            --brw: 0px;  
            --bg: 204, 204, 204;
            --rd: 0px;
            --shd: -11.31px 11.31px 17px 0px rgba(138, 131, 124, 0.23);
            --alpha-brd: 1;
            --alpha-bg: 1;
            width: 375px;
            
        }
        
        #comp-k28qs1lv {
            --contentPaddingLeft: 0px;
            --contentPaddingRight: 0px;
            --contentPaddingBottom: 0px;
            --contentPaddingTop: 0px;
            width: 205px;
            height: 205px
        }
        #comp-k0med56b {
            --lnw: 2px;
            --brd: var(--color_18);
            --alpha-brd: 1;
            width: 179px;
            height: 5px;
            transform-origin: center 1px
        }
        #comp-k0med56n {
            --bg: var(--color_11);
            width: 375px;
        }